<div class="body-audit">

<div class="photo-audit">
  <div class="title-audit">
    <h1 class="h1-audit"></h1>
  </div>
</div>

<div class="main-audit">

<div class="container-main-add">
    <div class="container-add">
      <div class="info-add">
        <h2 class="h2-add">NEW DEPARTMENT</h2>
        <p class="text-add">En esta seccion podras añadir departamentos y dejar una breve descripcion a cada una.</p>
      </div>
      <form action="/audit" method="post">
          <input type="text" name="name" class="input-add" placeholder="Name.." ><br>
          <input type="text" name="description" class="input-add" placeholder="Description.."></input><br>

          <input type="submit" value="Create" class="input-add">
      </form>
      {{#if errorMessage}}
      {{errorMessage}}
      {{/if}}
    </div>
  </div>

  <div class="container-main-cards">
    <div class="container-cards">
    {{#each dept}}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-title-p">{{this.description}}</p>
        <div class="card-btn">
          <a href="/audit/edit?dept_id={{this._id}}" class="p-add-edit">Edit </a>|
          <form action="/audit/{{this._id}}/delete" method="post">
              <button type="submit" class="delete">Delete</button>
          </form>
        </div>
        <a href="/audit/{{this._id}}" class="btn btn-secondary btn-sm ">See workers & Audit</a>
      </div>
    </div>
    {{/each}}
    </div>
  </div>
</div>

<div class="oculto-audit">
  <div class="container-img-audit">
    <img class="oculto-img-audit" src="/images/posits.jpeg" alt="Team">
  </div>
  <div class="container-quote-audit">
    <p class="p-add">Success is not achieved by special qualities alone. It is above all a work of constancy, method and organization.</p>
    <p class="p-add"><cite title="">Victor Hugo</cite></p>
  </div>
 
</div>

</div>
