<h1>Departments</h1>

<h2>Add dept</h2>
<form action="/audit" method="post">

    <label>Name</label>
    <input type="text" name="name" >

    <label>Description</label>
    <input type="text" name="description" >

    <input type="submit" value="Create">
</form>
{{!-- 
<h2>Add manager</h2>
<form action="/audit" method="post">
    <label>Name</label>
    <input type="text" name="name" >

    <label>Last Name</label>
    <input type="text" name="lastName" >

    <label>Department</label>
    <input type="text" name="departmentId" >

    <input type="submit" value="Create">
</form> --}}

<div>
  {{#each dept}}
    <div>
      <h4>{{this.name}}</h4>
      <p>{{this.description}}</p>
      <a href="/audit/{{this._id}}" >Audit</a>
    </div>
  {{else}}
    <p>There are no dept</p>
    {{/each}}
{{#each deptFound}}
{{this.name}}
{{/each}}
</div>







{{!-- 

{{#if errorMessage}}
{{errorMessage}}
{{/if}} --}}

