<div class="body-details">

    <div class="photo-details">
    <div class="title-audit">
        <h1 class="h1-audit">{{dept.name}}</h1>
    </div>
    </div>

<div class="main-audit-details">
    <div class="container-main-add-details">
        <div class="container-add">
        <div class="info-add">
            <h2 class="h2-add">NEW EMPLOYEE</h2>
            <p class="text-add">En esta seccion podras añadir nuevos managers y empleados.</p>
        </div>
            <form action="/audit/{{dept._id}}" method="post">
                <input type="text" name="name" class="input-add" placeholder="Name.."><br>
                <input type="text" name="lastName" class="input-add" placeholder="Last name.."><br>
                <input type="email"name="email" class="input-add" placeholder="Email.."><br>
                <input type="text" name="phone" class="input-add" placeholder="Phone.."><br>
                <input type="text" name="position" class="input-add" placeholder="Position.."><br>
                <input type="date" name="starterDate" class="input-add"><br>

                <input type="submit" value="Create" class="input-add">
        {{#if errorMessage}}
      {{errorMessage}}
      {{/if}}
            </form>
        </div>
    </div>  

    <div class="container-main-details">
            
            <div class="container-employee">
                <h2 class="h2-worker">Employees</h2>
                <p class="p-add-edit">Select one employee to audit</p>
                {{#each dept.employee}}
                <li><a href="/audit/auditory/{{this.id}}" class="a-employees">{{this.name}} {{this.lastName}}</a></li>
                {{/each}}  
            </div>
            <div class="container-img">
                <img src="/images/grafico.jpg" class="img-detail">
            </div>

    </div>

    </div>
    
    <div class="oculto">
  <div class="container-img">
    <img class="oculto-img" src="/images/team.JPG" alt="Team">
  </div>
  <div class="container-quote">
    <p class="p-add">The achievements of an organization are the results of the combined efforts of each individual.</p>
    <p class="p-add"><cite title="">Vince Lombardi</cite></p>
  </div>
 
</div>
</div>