<div class="body-details">

    <div class="photo-details">
    <div class="title-audit">
        <h1 class="h1-audit">{{employee.name}} {{employee.lastName}}</h1>
    </div>
    </div>

<div class="main-audit">
    <div class="container-main-edit-details">
        <div class="container-edit">
          <div class="info-add">
            <h3 class="text-add"><i class="fas fa-edit"></i>EMPLOYEE</h3>
          </div>
          <form action="/audit/auditory/{{employee._id}}/edit?employee_id={{employee._id}}" method="post" enctype="multipart/form-data">
            {{!-- <label for="">Email:</label> --}}
            <input type="text" name="email" class="input-add" value="{{employee.email}}"/>
{{!-- 
            <label for="">Phone number: </label> --}}
            <input type="text" name="phone" class="input-add" value="{{employee.phone}}"/>

            {{!-- <label for="">Position:</label> --}}
            <input type="text" name="position" class="input-add" value="{{employee.position}}"/>

            <label for="file-upload" class="subir">
                <i class="fas fa-cloud-upload-alt"></i> Upload your photo
            </label>
            <input id="file-upload" onchange='cambiar()' type="file" name="img" style='display: none;'/>
            <input type="hidden" name="previousImg" value="{{employee.imgPath}}"/>
            <div id="info"></div>

            <button type="submit" value="Enviar" class="input-add">EDIT</button>
          </form>
        </div>
    </div> 

      <div class="container-img-edit">
        <img class="img-edit" src="/images/workhard.jpeg">
      </div>
</div>

  <div class="return">
      <button type="button" class="btn btn-secondary"><a class="a-return" href="/audit/auditory/{{employee._id}}"><i class="fas fa-arrow-circle-left"></i>Return</a></button>
  </div>



</div>