<div class="body-new">
    <h1>news</h1>

    <form action="/news" method="POST" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Title..">
        <textarea type="text" name="description" placeholder="Description.."></textarea>
        <input type="file" name="img" />
        <input type="hidden" name="forms" value="news"/>

        <button type="submit">Create new</button>
    </form>

    <form action="/news" method="POST" enctype="multipart/form-data">
        <input type="text" name="titleEvent" placeholder="Title..">
        <input type="text" name="place" placeholder="Place..">
        <input type="date" name="date">
        <input type="time" name="time" placeholder="Hour..">
        <textarea type="text" name="descriptionEvent" placeholder="Description.."></textarea>
        <input type="file" name="img"/>
        <input type="hidden" name="forms" value="events"/>

        <button type="submit">Create new</button>
    </form>

{{#each news}}
    <img src="{{this.imgPath}}">
    <p>{{this.title}}</p>
    <p>{{this.description}}</p>
    <a href="/news/edit?news_id={{this._id}}" >Edit</a>
    <form action="/news/{{this._id}}/delete" method="POST">
        <button type="submit" >Delete</button>
    </form>
{{/each}}

{{#each events}}
    <img src="{{this.imgPathEvent}}">
    <p>{{this.titleEvent}}</p>
    <p>{{this.descriptionEvent}}</p>
    <p>{{this.place}}</p>
    <p>{{timeDate}}</p>
    <p>{{this.time}}</p>
    <a href="/news/events/edit?events_id={{this._id}}" >Edit</a>
    <form action="/news/events/{{this._id}}/delete" method="POST">
        <button type="submit" >Delete</button>
    </form>
{{/each}}



</div>

