<div class="body-new">

<div class="container-forms-news">
    
        <div class="container-main-news">
            <div class="container-add-news">
            <div class="info-add">
                <h2 class="h2-add"><i class="fas fa-plus-square"></i>NEW</h2>
                <p class="text-add">En esta seccion podras añadir noticias e informacion relevante para los empleados.</p>
            </div>
            <form action="/news" method="POST" enctype="multipart/form-data">
                <input type="text" name="title" class="input-add" placeholder="Title.." required>
                <textarea type="text" name="description" class="input-add" rows="9" placeholder="Description.."></textarea>
                
                <label for="file-upload" class="subir">
                <i class="fas fa-cloud-upload-alt"></i> Upload your photo
                </label>
                <input id="file-upload" onchange='cambiar()' type="file" name="img" style='display: none;' required/>
                <input type="hidden" name="forms" value="news" required/>
                <div id="info"></div>

                <button type="submit" class="input-add">Create new</button>
            </form>
            </div>
        </div>

        <div class="container-main-news">
            <div class="container-add">
            <div class="info-add">
                <h2 class="h2-add"><i class="fas fa-plus-square"></i>EVENT</h2>
                <p class="text-add">En esta seccion podras crear eventos tanto laborales como sociales.</p>
            </div>
            <form action="/news" method="POST" enctype="multipart/form-data">
                <input type="text" name="titleEvent" class="input-add" placeholder="Title.." required>
                <input type="text" name="place" class="input-add" placeholder="Place.."required>
                <input type="date" name="date" class="input-add" required>
                <input type="time" name="time" class="input-add" placeholder="Hour.."required>
                <textarea type="text" name="descriptionEvent" class="input-add" placeholder="Description.."></textarea>
                <label for="file-upload-event" class="subir">
                <i class="fas fa-cloud-upload-alt"></i> Upload your photo
                </label>
                <input id="file-upload-event" onchange='cambiar()' type="file" name="img" style='display: none;'required/>
                <input type="hidden" name="forms" value="events"required/>
                <div id="info"></div>

                <button type="submit" class="input-add">Create new</button>
            </form>
            </div>
        </div>

    </div>

<div class="container-news-events">

    <div class="card-new">
    {{#each news}}
    <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
        <img src="{{this.imgPath}}" class="card-img" alt="new">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.description}}</p>
            <div class="card-btn">
            <a href="/news/edit?news_id={{this._id}}" class="p-add-edit"><i class="fas fa-edit"></i>Edit</a>|
            <form action="/news/{{this._id}}/delete" method="POST">
            <button type="submit" class="delete">Delete<i class="fas fa-trash-alt"></i></button>
            </div>
            </form>
        </div>
        </div>
    </div>
    </div>
     {{/each}}
    </div>

    <div class="card-event">
    {{#each events}}
    <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
        <img src="{{this.imgPathEvent}}" class="card-img" alt="event">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">{{this.titleEvent}}</h5>
            <p class="card-text">{{this.descriptionEvent}}</p>
            <p class="card-text">{{this.place}}</p>
            <p class="card-text">{{this.date}}</p>
            <p class="card-text">{{this.time}}</p>
            <div class="card-btn">
            <a href="/news/events/edit?events_id={{this._id}}" class="p-add-edit" ><i class="fas fa-edit"></i>Edit</a>|
            <form action="/news/events/{{this._id}}/delete" method="POST">
            <button type="submit" class="delete">Delete<i class="fas fa-trash-alt"></i></button>
            </div>
            </form>
        </div>
        </div>
    </div>
    </div>
     {{/each}}
    </div>

</div>

    
</div>





