<div class="body-new">

<div class="container-forms-news">

        <div class="container-main-news">
            <div class="container-add-news">
            <div class="info-add">
                <h2 class="h2-add">NEWS</h2>
                <p class="text-add">En esta seccion podras añadir noticias e informacion relevante para los empleados.</p>
            </div>

            <input type="button" value="POST" class="input-new"  onclick="mostrarNew();" >
            <div id="mostrarOcultarNew">

                
                    <form action="/news" method="POST" enctype="multipart/form-data">
                        <input type="text" name="title" class="input-add" placeholder="Title.." required>
                        <textarea type="text" name="description" class="input-add" rows="6" placeholder="Description.."></textarea>
                        
                        <label for="file-upload" class="subir">
                        <i class="fas fa-cloud-upload-alt"></i> Upload your photo
                        </label>
                        <input id="file-upload" onchange='cambiar()' type="file" name="img" style='display: none;' required/>
                        <input type="hidden" name="forms" value="news" required/>
                        <div id="info"></div>

                        <button type="submit" class="input-add">CREATE</button>
                    </form>
            
            <input type="button" value="SHOW LESS ⬆"  class="input-new" onclick="ocultarNew();" >
        </div>
        </div>
    </div>

        <div class="container-main-news">
            <div class="container-add">
            <div class="info-add">
                <h2 class="h2-add">EVENT</h2>
                <p class="text-add">En esta seccion podras crear eventos tanto laborales como sociales.</p>
            </div>
            
            <input type="button" value="POST"  class="input-new" onclick="mostrar();">
            <div id="mostrarOcultar">

                <form action="/news" method="POST" >
                    <input type="text" name="titleEvent" class="input-add" placeholder="Title.." required>
                    <input type="text" name="place" class="input-add" placeholder="Place.."required>
                    <input type="date" name="date" class="input-add" required>
                    <input type="time" name="time" class="input-add" placeholder="Hour.."required>
                    <textarea type="text" name="descriptionEvent" class="input-add" placeholder="Description.."></textarea>
                    <input type="hidden" name="forms" value="events">

                    <button type="submit" class="input-add">CREATE</button>
                </form>
                <input type="button" value="SHOW LESS ⬆"  class="input-new" onclick="ocultar();">
            </div>
            </div>
        </div> 
</div>

<div class="container-news-events">

 <div class="card-new">
    {{#each news}}
    <div class="card" style="width: 18rem;">
    <img src="{{this.imgPath}}" class="card-img-top" alt="new">
    <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.description}}</p>
            <div class="card-btn">
            <a href="/news/edit?news_id={{this._id}}" class="p-add-edit"><i class="fas fa-edit"></i>Edit</a>|
            <form action="/news/{{this._id}}/delete" method="POST">
            <button type="submit" class="delete">Delete<i class="fas fa-trash-alt"></i></button>
            </div>
            </form>
    </div>
    </div>
  {{/each}}
    </div>

  <div class="card-event">
    {{#each events}}
    <div class="card" style="width: 16rem;">
        <div class="card-body">
            <h5 class="card-title">{{this.titleEvent}}</h5>
            <p class="card-text">{{this.place}}</p>
            <p class="card-text">{{this.date}}</p>
            <p class="card-text">{{this.time}}</p>
            <p class="card-text">{{this.descriptionEvent}}</p>
            <div class="card-btn">
                 <a href="/news/events/edit?events_id={{this._id}}" class="p-add-edit" ><i class="fas fa-edit"></i>Edit</a>|
                <form action="/news/events/{{this._id}}/delete" method="POST">
                <button type="submit" class="delete">Delete<i class="fas fa-trash-alt"></i></button>
            </div>
            </form>
        </div>
    </div>
     {{/each}}
     
    </div>


</div>

</div>