
<div>
    <h3>Ficha</h3>
    <img src="{{employee.imgPath}}">
    <p>{{employee.name}} {{employee.lastName}}</p>
    <p>{{employee.phone}}</p>
    <p>{{employee.email}}</p>
    <p>{{employee.position}}</p>
    <p>{{employee.starterDate}}</p>
    <a href="/audit/auditory/{{employee._id}}/edit?employee_id={{employee._id}}" class="p-add">Edit</a>
</div>
<hr>




<div>
    <h4>Audit</h4>
<form action="/audit/auditory/{{employee._id}}" method="POST">
<label for="#"> Team Management </label><br>
<input type="radio" name="teamManagement" value="1"> 1 
<input type="radio" name="teamManagement" value="2"> 2
<input type="radio" name="teamManagement" value="3"> 3
<input type="radio" name="teamManagement" value="4"> 4
<input type="radio" name="teamManagement" value="5"> 5

<br>
<label for="#"> Comunication </label> <br>
<input type="radio" name="communication" value="1"> 1 
<input type="radio" name="communication" value="2"> 2
<input type="radio" name="communication" value="3"> 3
<input type="radio" name="communication" value="4"> 4
<input type="radio" name="communication" value="5"> 5

<br>
<label for="#"> Puntuality </label> <br>
<input type="radio" name="puntuality" value="1"> 1 
<input type="radio" name="puntuality" value="2"> 2
<input type="radio" name="puntuality" value="3"> 3
<input type="radio" name="puntuality" value="4"> 4
<input type="radio" name="puntuality" value="5"> 5

<br>
<label for="#"> Project execution </label><br>
<input type="radio" name="project" value="1"> 1 
<input type="radio" name="project" value="2"> 2
<input type="radio" name="project" value="3"> 3
<input type="radio" name="project" value="4"> 4
<input type="radio" name="project" value="5"> 5 

<br>
<label for="#"> Performance </label><br>
<input type="radio" name="performance" value="1"> 1 
<input type="radio" name="performance" value="2"> 2
<input type="radio" name="performance" value="3"> 3
<input type="radio" name="performance" value="4"> 4
<input type="radio" name="performance" value="5"> 5 <br>

<label for="#"> Comments </label><br>
<input type="text" name="comments" placeholder="Comments.."><br>

<input type="submit" name="submit" value="Submit">
</form>

</div>
<div>
    <p>
        Team Management: {{employee.rate.[0].teamManagement}}
        Communication: {{employee.rate.[0].communication}}
        Puntuality: {{employee.rate.[0].puntuality}}
        Project execution: {{employee.rate.[0].project}}
        Performance: {{employee.rate.[0].performance}}
    </p>
    <p>Average rate of last audit: {{avgRate}}</p>

      <p>Average rate of total audit: {{totalRate}}</p>
</div>

<form action="/audit/auditory/{{employee._id}}/delete" method="post">
    <button type="submit" class="delete">DELETE</button>
</form>

<a href="/audit/{{employee.department}}">Return</a> 