<div class="body-valorate">

<div class="container-card-valorate">
    <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
        <img src="{{employee.imgPath}}" class="card-img" alt="perfil">
        </div>
        <div class="col-md-8">
        <div class="card-body-valorate">
            <h5 class="card-title">{{employee.name}} {{employee.lastName}}</h5>
            <p class="card-text">{{employee.email}}</p>
            <p class="card-text">{{employee.phone}}</p>
            <p class="card-text">{{employee.position}}</p>
            <p class="card-text">{{formatDate}}</p>
            <a href="/audit/auditory/{{employee._id}}/edit?employee_id={{employee._id}}" class="p-add">Edit</a>
        </div>
        </div>
    </div>
    </div>
</div>

<div class="container-form-rates">

    <div class="container-main-add">
    <div class="container-rates">
      <div class="info-add">
        <h2 class="h2-add">AUDIT</h2>
        <p class="text-add">RATE AND COMMENTS</p>
      </div>

      <div class="container-rates-form">
        <form action="/audit/auditory/{{employee._id}}" method="POST">
            <label class="label-rate"> Team Management </label><br>
            <input type="radio" name="teamManagement" class="input-add" value="1"> 1 
            <input type="radio" name="teamManagement" class="input-add"value="2"> 2
            <input type="radio" name="teamManagement" class="input-add" value="3"> 3
            <input type="radio" name="teamManagement" class="input-add"  value="4"> 4
            <input type="radio" name="teamManagement" class="input-add" value="5"> 5
            <hr>
            
            <label for="#"> Comunication </label> <br>
            <input type="radio" name="communication" class="input-add" value="1"> 1 
            <input type="radio" name="communication" class="input-add" value="2"> 2
            <input type="radio" name="communication" class="input-add" value="3"> 3
            <input type="radio" name="communication" class="input-add" value="4"> 4
            <input type="radio" name="communication" class="input-add" value="5"> 5
            <hr>
            
            <label for="#"> Puntuality </label> <br>
            <input type="radio" name="puntuality" class="input-add" value="1"> 1 
            <input type="radio" name="puntuality" class="input-add" value="2"> 2
            <input type="radio" name="puntuality" class="input-add" value="3"> 3
            <input type="radio" name="puntuality" class="input-add" value="4"> 4
            <input type="radio" name="puntuality" class="input-add" value="5"> 5
            <hr>

            <label for="#"> Project execution </label><br>
            <input type="radio" name="project" class="input-add" value="1"> 1 
            <input type="radio" name="project" class="input-add" value="2"> 2
            <input type="radio" name="project" class="input-add" value="3"> 3
            <input type="radio" name="project" class="input-add" value="4"> 4
            <input type="radio" name="project" class="input-add" value="5"> 5 
            <hr>
        
            <label for="#"> Performance </label><br>
            <input type="radio" name="performance" class="input-add" value="1"> 1 
            <input type="radio" name="performance" class="input-add" value="2"> 2
            <input type="radio" name="performance" class="input-add" value="3"> 3
            <input type="radio" name="performance" class="input-add" value="4"> 4
            <input type="radio" name="performance" class="input-add" value="5"> 5 
            <hr>    
            

            <label for="#"> Comments </label><br>
            <input type="text" name="comments" placeholder="Comments.."><br>

            <input type="submit" name="submit" value="Submit" class="input-add">
        </form>
        </div>
    </div>
  </div>

</div>





    <h4>Audit</h4>
<form action="/audit/auditory/{{employee._id}}" method="POST">
<label for="#"> Team Management </label><br>
<input type="radio" name="teamManagement" value="1"> 1 
<input type="radio" name="teamManagement" value="2"> 2
<input type="radio" name="teamManagement" value="3"> 3
<input type="radio" name="teamManagement" value="4"> 4
<input type="radio" name="teamManagement" value="5"> 5

<br>
<label for="#"> Comunication </label> <br>
<input type="radio" name="communication" value="1"> 1 
<input type="radio" name="communication" value="2"> 2
<input type="radio" name="communication" value="3"> 3
<input type="radio" name="communication" value="4"> 4
<input type="radio" name="communication" value="5"> 5

<br>
<label for="#"> Puntuality </label> <br>
<input type="radio" name="puntuality" value="1"> 1 
<input type="radio" name="puntuality" value="2"> 2
<input type="radio" name="puntuality" value="3"> 3
<input type="radio" name="puntuality" value="4"> 4
<input type="radio" name="puntuality" value="5"> 5

<br>
<label for="#"> Project execution </label><br>
<input type="radio" name="project" value="1"> 1 
<input type="radio" name="project" value="2"> 2
<input type="radio" name="project" value="3"> 3
<input type="radio" name="project" value="4"> 4
<input type="radio" name="project" value="5"> 5 

<br>
<label for="#"> Performance </label><br>
<input type="radio" name="performance" value="1"> 1 
<input type="radio" name="performance" value="2"> 2
<input type="radio" name="performance" value="3"> 3
<input type="radio" name="performance" value="4"> 4
<input type="radio" name="performance" value="5"> 5 <br>

<label for="#"> Comments </label><br>
<input type="text" name="comments" placeholder="Comments.."><br>

<input type="submit" name="submit" value="Submit">
</form>


<div>
    <p>
        Team Management: {{employee.rate.[0].teamManagement}}
        Communication: {{employee.rate.[0].communication}}
        Puntuality: {{employee.rate.[0].puntuality}}
        Project execution: {{employee.rate.[0].project}}
        Performance: {{employee.rate.[0].performance}}
    </p>
    <p>Average rate of last audit: {{avgRate}}</p>

      <p>Average rate of total audit: {{totalRate}}</p>
</div>

<form action="/audit/auditory/{{employee._id}}/delete" method="post">
    <button type="submit" class="delete">DELETE</button>
</form>

<a href="/audit/{{employee.department}}">Return</a> 

</div>